@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply overflow-x-hidden h-full antialiased transition-colors duration-1000 ease-in-out delay-300 bg-sweetAiran dark:bg-laborWorker;
  }

  p {
    @apply text-sm sm:text-base font-normal text-gray-700 dark:text-gray-300 pt-1;
  }

  h3 {
    @apply text-center font-semibold pt-5 pb-1 tracking-[0.1rem] text-xl text-gray-600 dark:text-gray-200;
  }

  h4 {
    @apply font-medium pt-5 pb-1 text-xl text-gray-700 dark:text-gray-100;
  }

  .section-title {
    @apply text-xl sm:text-3xl pt-1 md:pt-6 pb-5 md:pb-4 font-light tracking-[0.6rem] sm:tracking-[0.8rem] uppercase text-center dark:text-white;
  }

  .section {
    @apply min-h-screen pt-[3.2rem];
  }

  .fade-bottom {
    -webkit-mask-image: linear-gradient(to bottom, black 50%, rgba(0,0,0,0.3) 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, rgba(0,0,0,0.3) 70%, transparent 100%);
  }

  .mobile-fade-bottom {
    -webkit-mask-image: linear-gradient(to bottom, black 80%, rgba(0,0,0,0.5) 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, rgba(0,0,0,0.5) 90%, transparent 100%);
  }
  ::-webkit-scrollbar {
    width: 1em;
  }

  @media (max-width: 768px) {
    ::-webkit-scrollbar {
      width: 0.5em;
    }
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-200;
    // background: hsl(120 75% 50% /1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100vw;
    margin-block: .5em;
  }

  ::-webkit-scrollbar-thumb {
    // @apply bg-laborWorkerBlue opacity-30;
    background: rgba(66,148,238, 0.6);
    // background: hsl(120 100% 20% /1);
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-healthcareBlue;
    // background: hsl(120 100% 5% /1);
  }

  // .underlined-menu {
  //   height: 100%;
  //   width: 100%;
  //   display: grid;
  //   place-items: center left;
  //   color: red;
  //   // color: rgba($color: #171717, $alpha: .8);
  //   // background: #ffd11a;
  // }

.underlined-menu {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center left;
  // color: rgba($color: #171717, $alpha: .8);
  color: white;
  // background: gray;
  // background: #ffd11a;
  .wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .menu-item {
    @apply text-lg uppercase text-black dark:text-white;
    margin: 0 1.5rem;
    // font-size: 3rem;
    // font-weight: 700;
    cursor: pointer;
    position: relative;
    // &:first-child {
    //   margin-left: 3rem;
    // }
  }
  .underline {
    @apply absolute bg-healthcareBlue opacity-[0.85] w-full rounded h-1 left-0 top-[100%];
    // position: absolute;
    // top: 100%;
    // left: 0;
    // width: 100%;
    // height: 4px;
    // border-radius: 15px;
    // background: white;
    // opacity: 0.85;
  }
}

  // .underline {
  //   @apply z-50 bg-healthcareBlue;
  //   position: absolute;
  //   top: 100%;
  //   left: 0;
  //   width: 100%;
  //   height: 4px;
  //   border-radius: 15px;
  //   // background: white;
  //   // opacity: 0.85;
  // }

.mobile-underlined-menu {
  @apply w-full mt-1 px-1 border-b-2 border-gray-300 dark:border-gray-600;
  height: 100%;
  display: grid;
  place-items: center left;
  .wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .menu-item {
    @apply text-lg text-black dark:text-white hover:text-healthcareBlue;
    cursor: pointer;
    position: relative;
    // &:first-child {
    //   margin-left: 3rem;
    // }
  }
  .underline {
    @apply absolute bg-healthcareBlue opacity-[0.85] w-full rounded h-[3px] left-0 top-[calc(100%_-_2px)];
    // position: absolute;
    // top: 100%;
    // left: 0;
    // width: 100%;
    // height: 4px;
    // border-radius: 15px;
    // background: white;
    // opacity: 0.85;
  }
}

  .menu-item {
    @apply items-center text-gray-500 text-lg transition-all hover:text-black focus:text-black dark:hover:text-white dark:focus:text-white;
  }

  // .nav-menu-item {
  //   @apply relative text-lg uppercase;
  //   // margin: 0 1.5rem;
  //   // font-size: 3rem;
  //   // font-weight: 700;
  //   // cursor: pointer;
  //   // position: relative;
  //   // &:first-child {
  //   //   margin-left: 3rem;
  // }

  .social-menu-item {
    @apply px-3;
  }

  .nav-link {
    @apply px-3 items-center text-gray-400 font-medium uppercase transition-all hover:text-black focus:text-black dark:hover:text-white dark:focus:text-white;
  }

  .active {
    @apply text-black dark:text-white;
  }

  .mobile-nav-link {
    @apply py-2 px-3 items-center text-gray-500 dark:text-gray-50 font-medium uppercase transition-all hover:text-healthcareBlue focus:text-healthcareBlue;
  }

  .mobile-active {
    @apply  text-healthcareBlue dark:text-healthcareBlue;
  }

  .logo-image {
    // @apply z-50 mx-auto mt-24 mb-4 rounded-full drop-shadow-2xl dark:shadow-[0_0_30px_15px_rgba(255,255,255,0.6),0_0_50px_30px_rgba(255,0,255,0.5),0_0_70px_45px_rgba(0,255,255,0.5)];
    // @apply z-20 mx-auto mt-24 mb-4 rounded-full drop-shadow-2xl md:w-48 md:h-48 max-w-[50%] max-h-[50%] w-[250px] h-[250px];
    // @apply z-20 mx-auto mt-24 mb-4 rounded-full drop-shadow-2xl max-w-[50%] max-h-[50%] w-[250px] h-[250px];
    @apply relative z-20 mx-auto mt-24 mb-4 rounded-full drop-shadow-2xl w-[250px] h-[250px];
  }

  @media (max-width: 768px) {
    .logo-image {
      width: 175px;
      height: 175px;
    }
  }

  .carousel-container::-webkit-scrollbar {
    display: none;
  }

  .carousel-container {
    @apply relative; // my-auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .cards-inner-carousel {
    @apply flex flex-row my-auto;
  }

  .cards-carousel {
    @apply relative p-2 md:p-10 z-10 cursor-grab my-auto;
    //  bg-gradient-to-r from-[rgba(0,0,0,0.2)] to-[rgba(44,62,80,0.4)];
  }

  .fade-left-right {
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent 100%);
  }

  .fade-left {
    -webkit-mask-image: linear-gradient(to right, transparent, black 80%,);
    mask-image: linear-gradient(to right, transparent, black 80%);
  }

  .fade-right {
    -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
    mask-image: linear-gradient(to right, black 80%, transparent 100%);
  }

  // .fade-bottom {
  //   -webkit-mask-image: linear-gradient(to bottom, black 25%, rgba(0,0,0,0.8) 60%, transparent 100%);
  //   mask-image: linear-gradient(to bottom, black 25%, rgba(0,0,0,0.5) 50%, transparent 100%);
  // }

  .nav-carousel {
    @apply z-20 absolute cursor-pointer top-1/2 -translate-y-1/2 text-black dark:text-white opacity-40 dark:opacity-40 py-4 transition duration-500 hover:opacity-90 hover:dark:opacity-90 hover:dark:border-healthcareBlue;
  }

  .nav-carousel-left {
    @apply left-0;
  }

  .nav-carousel-right {
    @apply right-0;
  }

  .card-component {
    @apply flex flex-col grow items-center bg-gray-50 rounded-md mx-1 sm:mx-4 shadow-md h-full md:min-h-[30rem] md:min-w-[20rem] w-[230px] md:w-[400px] transform transition dark:shadow-[0_0_4px_2px_rgba(255,255,255,0.05),0_0_5px_3px_rgba(255,0,255,0.05),0_0_7px_4px_rgba(0,255,255,0.05)] dark:bg-gray-900;
  }

  .card-button {
    @apply flex flex-row items-center self-end px-2 py-2 mx-auto mt-1 md:mt-2 align-bottom border-2 rounded-md text-sm md:text-base text-white hover:text-white hover:dark:text-white dark:bg-transparent shadow-sm hover:shadow-md dark:hover:shadow-[0_0_2px_1px_rgba(255,255,255,0.5),0_0_4px_2px_rgba(255,255,255,0.3),0_0_8px_4px_rgba(255,255,255,0.2)] transition duration-150 ease-in-out;
  }

  .skill {
    @apply px-2 py-1 mt-0 mb-5 mr-1 text-xs font-semibold border-2 rounded-2xl transition-all duration-300;
  }

  .skill-unselected {
    @apply text-gray-700 bg-transparent dark:text-gray-300 border-slate-300 dark:border-gray-700 dark:bg-gray-800 hover:bg-healthcareBlue dark:hover:bg-healthcareBlue dark:hover:text-white hover:text-white hover:opacity-100;
  }

  .skill-selected {
    @apply text-white border-healthcareBlue bg-healthcareBlue hover:opacity-[85%] dark:text-white;
  }

  .expand-skills-button {
    @apply cursor-pointer;
  }

  .expand-skills-button-not-hovered {
    @apply text-gray-800 dark:text-gray-200;
  }

  .expand-skills-button-hovered {
    @apply text-healthcareBlue dark:text-healthcareBlue;
  }

  // items-end m-0 p-0

  // .expand-skills-button {
  //   @apply absolute flex flex-row pr-3 w-[7.7rem] rounded-2xl border-2 font-semibold border-healthcareBlue hover:drop-shadow-[-4px_4px_4px_rgba(0,0,0,0.3)] dark:hover:shadow-[0_0_8px_rgba(255,255,255,1)] dark:hover:border-white text-gray-200 hover:text-white dark:hover:text-white right-1 top-[20px] bg-healthcareBlue p-1;
  // }

  // .expand-skills-icon {
  //   @apply absolute left-2 top-0 align-middle transition duration-500 text-2xl;
  // }

  // .expand-skills-text {
  //   @apply pl-9 text-xs;
  // }

  form {
    @apply mx-auto w-full;
  }

  label {
    @apply text-sm md:text-base mb-1 md:mb-3 text-gray-600 dark:text-white;
  }

  input, textarea {
    @apply w-full p-2 md:p-3 rounded-md focus:shadow-lg outline-none transition-all;
  }

  .button {
    @apply bg-healthcareBlue text-gray-100 hover:text-white hover:border-black border-2;
  }

  .fields {
    @apply mb-4 md:my-5;
  }

  .gr-icon path {
    stroke: currentColor;
  }

  /* setup tooltips */
  .tooltip {
    position: relative;
  }
  .tooltip:before,
  .tooltip:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
  .tooltip:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(66,148,238,.75);
    border-left: 6px solid transparent;
    content: '';
    height: 0;
    top: 20px;
    left: 15px;
    width: 0;
  }
  .tooltip:before {
    @apply text-xs capitalize;
    // @apply bg-healthcareBlue;
    background: rgba(66,148,238,.75);
    border-radius: 3px;
    color: #fff;
    content: attr(data-title);
    // font-size: 14px;
    padding: 6px 10px;
    top: 26px;
    left: -30px;
    white-space: nowrap;
  }

  /* the animations */
  /* fade */
  .tooltip.fade:after,
  .tooltip.fade:before {
    transform: translate3d(0,-10px,0);
    transition: all .15s ease-in-out;
  }
  .tooltip.fade:hover:after,
  .tooltip.fade:hover:before {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  /* expand */
  .tooltip.expand:before {
    transform: scale3d(.2,.2,1);
    transition: all 0.3s ease-in-out;
    // transition: all .2s ease-in-out;
  }
  .tooltip.expand:after {
    transform: translate3d(0,6px,0);
    transition: all .2s ease-in-out;
    // transition: all .1s ease-in-out;
  }
  .tooltip.expand:hover:before,
  .tooltip.expand:hover:after {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
  .tooltip.expand:hover:after {
    transition: all .2s .1s ease-in-out;
  }
}
